html {
  box-sizing: border-box;
  font: normal 100%/1.5 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.grains {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.grains li {

}

.grains img {
  width: 100px;
}

.grains h2 {

}

.grains p {

}
